* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

label {
    font-size: larger;
}

.forecastCard {
    background-color: #008cff;
    border-radius: 10px;
    color: #ffffff;
}