* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

h1 {
    padding: 10px;
}

label {
    font-size: larger;
}

div.card {
    margin-left: 20px;
    border-radius: 10px;
}

span.currentUvVal {
    padding: 10px;
    border-radius: 5px;
}

.forecastCard {
    background-color: #008cff;
    border-radius: 10px;
    color: #ffffff;
    margin: 10px;
}